In [1]:
import requests

In [2]:
! pip show requests

Name: requests
Version: 2.32.3
Summary: Python HTTP for Humans.
Home-page: https://requests.readthedocs.io
Author: Kenneth Reitz
Author-email: me@kennethreitz.org
License: Apache-2.0
Location: C:\ProgramData\anaconda3\Lib\site-packages
Requires: certifi, charset-normalizer, idna, urllib3
Required-by: aext-assistant-server, anaconda-auth, anaconda-catalogs, anaconda-client, anaconda-project, arxiv, conda, conda-build, conda-repo-cli, conda_package_streaming, cookiecutter, datashader, gTTS, huggingface-hub, jupyterlab_server, kubernetes, langchain, langchain-community, langsmith, llama-index-core, openai, panel, posthog, PyGithub, requests-file, requests-oauthlib, requests-toolbelt, spacy, Sphinx, streamlit, tiktoken, tldextract, transformers, unstructured, weasel, wikipedia

In [ ]:
requests
 |-> http libs for python 
 |-> GET     - To retrieve data from server
     POST    - To send data to the server 
     PUT     - To update data on the server
     DELETE  - To delete a resource from the server

In [ ]:
import requests
requests.get('URL') ->return_value
                        |->status_code = 200 
                        |->headers ->dict = URL header information
                        |->text/content Vs requests.json()

In [3]:
import requests
requests.get('https://www.google.com')

In [4]:
r = requests.get('https://www.google.com')
r.status_code

200

In [5]:
r.headers

{'Date': 'Tue, 04 Nov 2025 05:17:45 GMT', 'Expires': '-1', 'Cache-Control': 'private, max-age=0', 'Content-Type': 'text/html; charset=ISO-8859-1', 'Content-Security-Policy-Report-Only': "object-src 'none';base-uri 'self';script-src 'nonce-vcPkTAbJR4GxlYwzhRzYZQ' 'strict-dynamic' 'report-sample' 'unsafe-eval' 'unsafe-inline' https: http:;report-uri https://csp.withgoogle.com/csp/gws/other-hp", 'Accept-CH': 'Sec-CH-Prefers-Color-Scheme', 'P3P': 'CP="This is not a P3P policy! See g.co/p3phelp for more info."', 'Content-Encoding': 'gzip', 'Server': 'gws', 'X-XSS-Protection': '0', 'X-Frame-Options': 'SAMEORIGIN', 'Set-Cookie': 'AEC=AaJma5uyXzB-NpzX7HABY1OE_yAXlY2JSou-4IvV-t0Ft0-qt7aaGLpmawc; expires=Sun, 03-May-2026 05:17:45 GMT; path=/; domain=.google.com; Secure; HttpOnly; SameSite=lax, NID=526=cKeX3vWa8xWH-YzY2TrNQY_yoriTMIcimkoTLZlhqMLGGCldvW8n6yjrHN6TmQVzWcWDinmffPB4IX01K-ybVauCbmeNciaRUPP-nTbw0Wm9DdsIH4SJc8OESWVviMQuoEj8l7sjwRXwfdd1yZIGCjE6kcT1LCzf1s_jmmz6iqWjdsUHGpp0ypH1__PFkbL06VfZ0wxnIIIh-ydsTA; expires=Wed, 06-May-2026 05:17:45 GMT; path=/; domain=.google.com; HttpOnly', 'Alt-Svc': 'h3=":443"; ma=2592000,h3-29=":443"; ma=2592000', 'Transfer-Encoding': 'chunked'}

In [6]:
r.headers['Content-Type']

'text/html; charset=ISO-8859-1'

In [ ]:
Client ----->--------requests------>---------server ....
            ----------<-----------------------
                    response 
                      1. Webpage 2. data (json)
                         |
                   <html>+{{templateCode}}

In [7]:
r1 = requests.get('https://api.github.com/repositories/19438/issues')
r1.status_code

200

In [8]:
r1.headers['Content-Type']

'application/json; charset=utf-8'

In [ ]:
r1 = requests.get('https://api.example.com/data')
r1.text Vs r1.json()
------------------------------------------------------------
mydata={'user':'leo','server':'apache2'}
r2 = requests.post('https://api.example.com/login',data=mydata)
----------------------------------------------------------------

In [9]:
r = requests.get('https://www.google.com')
gpage = r.text

In [10]:
print(type(gpage),len(gpage))

<class 'str'> 19824

In [11]:
with open('test.html','w') as wobj:
    wobj.write(gpage)

In [14]:
r = requests.get('https://api.github.com/repositories/19438/issues')
r.headers['Content-Type']

'application/json; charset=utf-8'

In [16]:
python_data = r.json()
print(type(python_data),len(python_data))

<class 'list'> 30

In [18]:
d={}
d['K1']='V1'
d['K2']=[{'Kx':'Vx','Ky':'Vy'},{'Kx':[{'K1':'V1','K2':[1,2,3]}]},[{'Kx':'data-1'}]]
d['K3']=[{'K1':{'DB':'Sqlite3'}}]
print(d)

{'K1': 'V1', 'K2': [{'Kx': 'Vx', 'Ky': 'Vy'}, {'Kx': [{'K1': 'V1', 'K2': [1, 2, 3]}]}, [{'Kx': 'data-1'}]], 'K3': [{'K1': {'DB': 'Sqlite3'}}]}

In [19]:
import pprint
pprint.pprint(d)

{'K1': 'V1',
 'K2': [{'Kx': 'Vx', 'Ky': 'Vy'},
        {'Kx': [{'K1': 'V1', 'K2': [1, 2, 3]}]},
        [{'Kx': 'data-1'}]],
 'K3': [{'K1': {'DB': 'Sqlite3'}}]}

In [24]:
d['K2'][1]['Kx'][0]['K2'][1]

2

In [25]:
r1 = requests.get("http://127.0.0.1:1234/data")
r1.headers

{'Server': 'Werkzeug/3.1.3 Python/3.10.0', 'Date': 'Tue, 04 Nov 2025 05:41:55 GMT', 'Content-Type': 'application/json', 'Content-Length': '2162', 'Connection': 'close'}

In [27]:
data = r1.json() # Convert json response to python dict/list

In [30]:
import pandas as pd
df = pd.DataFrame(data) # Covnert to pandas DataFrame
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   students  15 non-null     object
dtypes: object(1)
memory usage: 252.0+ bytes
None
                                            students
0  [1, sharan, sharanvel@gmail.com, annanagar, 12...
1  [2, Vishnusaravana, pythonclass221@gmail.com, ...
2  [3, karthik, karthik@gmail.com, bangalore, 124...
3  [4, yahoo, yaoo@gm.com, city, 1234, St.pss, Ci...
4  [5, karthikeyan palani, abpalanikarthik@gmail....

In [ ]:
pd.json_normalize(data) - Table

In [31]:
r1 = requests.get("http://127.0.0.1:1234/data")
data = r1.json()

df = pd.json_normalize(data)
print(df.head())

                                            students
0  [[1, sharan, sharanvel@gmail.com, annanagar, 1...

In [32]:
data = {"K1":{"updated":"V1","updatedTime":"2025-11-02-233424","updatedZone":"IST"},
        "K2":{"code":"D1232","rate":3242,"F1":3.44},
        "K3":{"code":"T343","rate":5542,"F1":234.34}}

In [33]:
import json
jd = json.dumps(data,indent=4) # Convert from python to json object

In [36]:
python_data = json.loads(jd) # Convert from json to python - same as r1.json()
pd.DataFrame(python_data)

                            K1     K2      K3
updated                     V1    NaN     NaN
updatedTime  2025-11-02-233424    NaN     NaN
updatedZone                IST    NaN     NaN
code                       NaN  D1232    T343
rate                       NaN   3242    5542
F1                         NaN   3.44  234.34

In [37]:
pd.json_normalize(python_data)

,K1.updated,K1.updatedTime,K1.updatedZone,K2.code,K2.rate,K2.F1,K3.code,K3.rate,K3.F1
0,V1,2025-11-02-233424,IST,D1232,3242,3.44,T343,5542,234.34

In [39]:
df = pd.json_normalize(python_data)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   K1.updated      1 non-null      object
 1   K1.updatedTime  1 non-null      object
 2   K1.updatedZone  1 non-null      object
 3   K2.code         1 non-null      object
 4   K2.rate         1 non-null      int64
 5   K2.F1           1 non-null      float64
 6   K3.code         1 non-null      object
 7   K3.rate         1 non-null      int64
 8   K3.F1           1 non-null      float64
dtypes: float64(2), int64(2), object(5)
memory usage: 204.0+ bytes

In [ ]:
URL = "https://api.example.com/data"
# requests.get(URL) -> 401 error - APIToken error 

myauth={"Autorization":"API-TOKEN-KEY"}

r1 = requests.get(URL,headers=myauth) # Api keys or Api token
data = r1.json()
df = pd.DataFrame(data)

In [44]:
import os
from dotenv import load_dotenv
load_dotenv()
myauth={"authorization":os.getenv('HF_TOKEN')}

In [ ]:
url = 'https://api.open-meteo.com/v1/forecast'
my_params={
    "latitude":12.98,
    "longitude":77.59,
    "hourly":"temperature_2m,relative_humidity_2m"
}

r = requests.get(url,params=my_params)
data = r.json()
df = pd.DataFrame({
    "time":data["hourly"]["time"],
    "humidity":data["hourly"]["relative_humidity_2m"]
})

## from json file 
df_DB = pd.read_json("DBJson.json")